:root {
    --primary-color: #fff;
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    width: 120px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 125px;
}

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

figure {
    text-align: center;
    padding: .25em;
    width: 250px;
    height: auto;
}

figure img {
    height: auto;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

header a {
    text-decoration: none;
}

h2 {
    background-color: var(--accent1-color);
    text-align: center;
    color: var(--primary-color);
    padding: 10px;
    width: 100%;
}

footer {
    display: flex;
}

.socialmedia {
    display: block;
    margin-left: auto;
}

.socialmedia a{
    text-decoration: none;
}

.socialmedia img {
    width: 25px;
    height: auto;
    justify-content: flex-end;
}