.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid black;
    padding: 15px;
    background-color: #247;
    color: #fff;
}

.callout img {
	float: right;
    margin: 10px;
    border: 1px solid #000000;
    padding: 3px;
    background-color: #a39f9f;
    width: 90px;
    height: auto;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;
}